@import './custom.scss';

@font-face {
  font-family: 'Komica';
  src: url('fonts/KOMTITK_.ttf');
}

body {
  background-color: #fffee6;
  color: #262626;

  table {
    thead {
      background-color: black;
      color: white;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Komica';
    font-size-adjust: 0.8;
  }
}

.c-pointer {
  cursor: pointer;
}