@import './custom.scss';

@font-face {
  font-family: 'Komica';
  src: url('fonts/KOMTITK_.ttf');
}

body {
  background-color: $background-dark;
  color: $text-light;

  a {
    color: $primary-300;

    &:hover {
      color: $primary-200;
    }
  }

  table {
    thead {
      background-color: black;
      color: white;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Komica';
    font-size-adjust: 0.8;
  }
}

.c-pointer {
  cursor: pointer;
}
.c-help {
  cursor: help;
}
