$primary: #1e6994;
$primary-100: #2378a9;
$primary-200: #2b96d4;
$primary-300: #56abdc;
$primary-400: #80c0e5;
$primary-text: #d5eaf6;

$secondary: #989572;
$secondary-100: #a9a789;
$secondary-200: #bfbda6;
$secondary-300: #d4d3c4;
$secondary-400: #eae9e1;
$secondary-text: #eae9e1;

$success: #009975;
$success-100: #00cc9c;
$success-200: #00ffc3;
$success-300: #33ffcf;
$success-400: #4dffd5;
$success-text: #ccfff3;

$danger: #b8475e;
$danger-100: #c66c7e;
$danger-200: #d4919e;
$danger-300: #e2b4bd;
$danger-400: #f1dadf;
$danger-text: #f1dadf;

$warning: #d2a92d;
$warning-100: #dbb957;
$warning-200: #e4cb81;
$warning-300: #edddab;
$warning-400: #f6eed5;
$warning-text: #f6eed5;

$background-dark: #5e573b;
$background-highlight-100: #c4bda1;
$background-highlight-200: #d8d3c0;
$background-highlight-300: #e2ded0;
$background-highlight-400: #ebe9e0;

$text-light: #f2f2f2;
$text-dark: #262626;